[submodule "PopMp4Detective.js/PopEngineCommon"]
	path = PopMp4Detective.js/PopEngineCommon
	url = https://github.com/NewChromantics/PopEngineCommon.git
[submodule "WebComponent_TreeView"]
	path = WebComponent_TreeView
	url = https://github.com/NewChromantics/WebComponent_TreeView.git
